<div style="border: 0px solid #383d40" id="mult-select-root" class="mult-select-root">
    <div class="tag-container" id="mult-select-container">
        <div class="tag" ng-show="showBlank">
            <span style="padding-right: 2px;">
                {{blankLabel}}
            </span>
        </div>
        <div class="tag" ng-hide="showBlank">
            <span 
                ux2-custom-template=""
                item-display-property="itemDisplayProperty" 
                item-display="itemDisplay"
                item-object="itemSelected"
                >
            </span>
        </div>
        <div class="arrow-outer mult-select-selector" ng-click="showSection()">
            <span class="arrow-down mult-select-selector"></span>
        </div>
    </div>
    <div ng-show="showDropDown" class="single-select2 auto-container mult-select-selector mult-select-result ng-hide1">
        <div ng-click="selectBlank()" class="auto-data ux-list-item mult-select-selector" ng-show="allowBlank">
            <span style="padding-right: 2px;">
                {{blankLabel}}
            </span>
        </div>

        <div ng-click="selectItem(i)" class="auto-data ux-list-item mult-select-selector" ng-class="{ active: i.selected }" ng-repeat="i in itemList()">

            <span 
                ux2-custom-template="" 
                item-display-property="itemDisplayProperty" 
                item-display="itemDisplay"
                item-object="i"
                >
            </span>

            <!--<span style="padding-right: 2px;">
                {{i[itemDisplayProperty]}}
            </span>-->
        </div>
    </div>
</div>