<div class="ux-auto-complete-root">
    <input id="auto-search-text" class="auto-search-text-input" ng-change="search()" ng-model="searchText" type="text" ng-blur="onBlur($event)" ng-keydown="key($event)" style="width: 100%" />
    
    <div ng-mousedown="mousedown($event)" ng-style="{ top: top, width: width }" class="auto-container ux-list" id="auto-container" ng-show="data.length > 0 && showAutoSection">
        <div ng-repeat="i in data" ng-mousedown="selectItem(i)" ng-class="{ 'active': $index == currentSelectedIndex }" class="auto-data ux-list-item">
            <span ng-show="i[itemProperty].length > 25">{{ i[itemProperty].substring(0, 25) }} ...</span>
            <span ng-show="i[itemProperty].length <= 25">{{ i[itemProperty] }}</span>
        </div>
    </div>

</div>