<div style="border: 0px solid #383d40" id="mult-select-root" class="mult-select-root">
    <div ng-style="{ top: topToolTip + 'px', left: leftToolTip + 'px' }" ng-show="showToolTip && selectedItems && selectedItems.length > 0" class="ux-flyover ux-bottom ux-show" id="ux-flyover-menu" style="left: 20px;">
        <ul>
            <li ng-repeat="i in selectedItems">{{i[itemProperty]}}</li>
        </ul>
    </div>
    <div class="tag-container" id="mult-select-container">
        <div ng-mouseleave="showToolTip = false;" ng-mouseover="showInfo();" ng-show="!selectedItems || selectedItems.length == 0" class="tag">
            Desk ..
        </div>
        <div ng-mouseleave="showToolTip = false;" ng-mouseover="showInfo();" ng-show="selectedItems.length >= 1" class="tag">
            {{ displayData }}
        </div>
        <div ng-mouseleave="showToolTip = false;" ng-mouseover="showInfo();" class="tag-summary" ng-show="selectedItems.length > 1">
            + {{ selectedItems.length - 1 }} selected ..
        </div>
        <div class="arrow-outer mult-select-selector" ng-click="showSection()">
            <span class="arrow-down mult-select-selector"></span>
        </div>
    </div>
    <div id="mult-select-result" class="auto-container mult-select-selector mult-select-result ng-hide" 1ng-style="{ width: width + 'px', top: top + 'px' }">
        <div ng-click="selectItem(i)" class="auto-data ux-list-item mult-select-selector" ng-class="{ active: i.selected }" ng-repeat="i in listData">
            {{i[itemProperty]}}
        </div>
    </div>
</div>