<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" rel="stylesheet" />

</head>
<body style="margin-top: 200px; 1margin-left: 200px;" ng-controller="ctrl">

    <button ng-click="getRows()">Get Rows</button>

    <div>
        <div ng-repeat="col in cols">
        <input type="checkbox" ng-model="col.visible" />
        {{col.id}}</div>
    </div>

    <table id="sample"  class="ui celled table">
        <tr>
            <td 
                ng-show="col.visible"
                ng-repeat="col in cols">
                {{col.id}}
                </td>
        </tr>

        <tr ng-repeat="i in data">
            <td 
                ng-show="col.visible"
                ng-repeat="col in cols">
                <input ng-change="updateRow(i)" class="tag-input" type="text" ng-model="i[col.id]" />
            </td>
        </tr>
    </table>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>

    <script src="http://www.bacubacu.com/colresizable/js/colResizable-1.5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="app.js"></script>

</body>
</html>
