

.multitag-container {
    border: 1px solid grey;
    padding: 5px;
}


.tag1 {
    border: 1px solid red;
    margin: 5px;
    display: inline-block;
    padding: 5px;
}


.tag-input {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.tag-input:focus {
    outline: none;
}

tr, td {
    height: 40px !important;
    padding: 0 !important;
}
